.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  font-family: var(--main-font);
  background-color: var(--main-background-color);
}

.socialMediaMenu {
  display: flex;
  transform: rotate(90deg);
}

.socialMediaMenu__item {
  display: flex;
}

.socialMediaMenu__link:hover{
  opacity: .6;
}

.socialMediaMenu__link::after{
  transition: all .3s ease-in-out;
}

.socialMediaMenu__link {
  padding: 5px 20px;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
