.mainContent {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 116px);
}

.slider {
  width: 100%;
}

.sliderItem_1 {
  background-image: url(images/back1.png);
  border-image-width: unset;
}

.sliderItem {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: top, center;
}

.sliderItem__text {
  position: absolute;
  left: 19%;
  top: 30%;
}

.sliderItem__text::before {
  position: absolute;
  left: -19%;
  bottom: 48%;
  content: url(images/lines.png);
}

.slider__title {
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 24px;
}

.slider__mainTitle {
  position: relative;
}

.slider__mainTitle span {
  display: block;
  color: #ffffff;
  font-family: "Circe Extra Bold", serif;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.sliderDetails {
  position: absolute;
  right: 14%;
  top: 33%;
  text-align: right;
}

.sliderDetails::before {
  position: absolute;
  left: -10px;
  bottom: 11px;
  background-color: #ff2323;
  width: 50px;
  height: 2px;
  content: "";
}

.sliderCount {
  display: flex;
  margin-bottom: 134px;
}

.sliderCount__active {
  margin-right: 29px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.sliderCount__all {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.sliderNavigation {
  display: inline-flex;
  padding: 5px;
}

.sliderDetails::after {
  position: absolute;
  left: 40px;
  bottom: 11px;
  background-color: #ffffff;
  width: 20px;
  height: 2px;
  content: "";
}