@import "components/header/header.css";
@import "components/main_content/main_content.css";
@import "components/social_media/social_media.css";
@import "components/footer/footer.css";
@import "media.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  font-family: 'Circle Regular', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
